<div class="comment-item" [class.reply-comment]="isReply">
  <div class="comment-avatar">
    <img [src]="getAvatarUrl()" [alt]="comment.author || comment.name" />
  </div>

  <div class="comment-content">
    <div class="comment-header">
      <div class="comment-author">
        <strong>{{ comment.author || comment.name }}</strong>
        <span class="comment-date">{{ formatDate(comment.date || comment.createdAt) }}</span>
      </div>
      <div class="comment-actions">
        <button
          class="action-btn like-btn"
          (click)="onLike()"
          [class.liked]="false">
          <i class="icon icon-heart"></i>
          <span>{{ comment.likes || 0 }}</span>
        </button>
        <button
          *ngIf="allowReplies"
          class="action-btn reply-btn"
          (click)="onReply()">
          <i class="icon icon-reply"></i>
          <span>Responder</span>
        </button>
      </div>
    </div>

    <div class="comment-text">
      {{ comment.message }}
    </div>
  </div>
</div>
